---
---
<header >
    
    <div class="-mx-8 mb-8 sm:mx-0 ">
    <img
      class="w-full sm:rounded-xl  "
      src="/recipepage/images/image-omelette.jpeg"
      alt="imagen de cabecera"
    />
   </div>
   
    <div >
      <h1 class="font-Young-Serif text-4xl text-Stone-900 mb-4">
        Simple Omelette Recipe
      </h1>

      <p >
        An easy and quick dish, perfect for any meal. This classic omelette
        combines beaten eggs cooked to perfection, optionally filled with
        your choice of cheese, vegetables, or meats.
      </p>
    </div>


  </header>