---
const nutrition = [
  { label: "Calories", value: "277 kcal" },
  { label: "Carbs", value: "0 g" },
  { label: "Protein", value: "20 g" },
  { label: "Fat", value: "22 g" }
];
---

<section>
    <h2 class="text-3xl font-Young-Serif text-Brown-800 mb-6">Nutrition</h2>

    <p class="mb-6">The table below shows nutritional values per serving without the additional fillings.
    </p>
      
      <table class="w-full table-fixed text-left  border-spacing-y-2">
        <tbody>
            {nutrition.map((n, index)=>(
            <tr class={`translate-x-8 ${
          index !== nutrition.length - 1 ? 'border-b border-Stone-600/20' : ''
        }`}>
            <td class="py-2 ">{n.label}</td>
            <td class="py-2 font-bold text-Brown-800">{n.value}</td>
          </tr>
            ))}
          
        </tbody>
</section>